# IDE
.metadata/
.settings/
.classpath
.loadpath
.factorypath
.idea/
*.iml

# Build
bin/
build/
*.class
*.jar

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Temp
tmp/
*.tmp
*.swp
*.bak

# Other
local.properties
src-gen/
