.metadata/
bin/
.settings
*.class
.classpath
.loadpath
tmp/
*.tmp
.settings/
*.swp
*.bak
*.jar
local.properties
.factorypath
src-gen/
*.xml
*.zip
LM/.vscode/
LM/javafx-sdk-17.0.18/
.vscode/
javafx-sdk-17.0.18/
